# # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [21]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd
lego_sets=pd.read_csv('datasets/lego_sets.csv')
parent_themes=pd.read_csv('datasets/parent_themes.csv')

In [22]:
#Brisanje nedostajucih vrednosti i duplikata
lego_clean=lego_sets.drop_duplicates(subset=['set_num'])
lego_clean=lego_sets.dropna(subset=['set_num'],axis=0)

In [23]:
#Izdvajanje Star Wars licenciranih tema
df=pd.merge(parent_themes,lego_clean,left_on='name',right_on='parent_theme')
df_star_wars=df[(df['parent_theme']=='Star Wars') &(df['is_licensed']==True)]
df_star_wars

,id,name_x,is_licensed,set_num,name_y,year,num_parts,theme_name,parent_theme
2779,158,Star Wars,True,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
2780,158,Star Wars,True,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
2781,158,Star Wars,True,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars
2782,158,Star Wars,True,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars
2783,158,Star Wars,True,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars
...,...,...,...,...,...,...,...,...,...
3383,158,Star Wars,True,VP-12,Star Wars Co-Pack of 7121 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
3384,158,Star Wars,True,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,Star Wars
3385,158,Star Wars,True,VP-3,Star Wars Co-Pack of 7131 and 7151,2000,2.0,Star Wars Episode 1,Star Wars
3386,158,Star Wars,True,VP-4,Star Wars Co-Pack of 7101 7111 and 7171,2000,3.0,Star Wars Episode 1,Star Wars
3387,158,Star Wars,True,VP-8,Star Wars Co-Pack of 7130 and 7150,2000,NaN,Star Wars Episode 4/5/6,Star Wars

In [24]:
#Izracunavanje licenciranih tema
broj_licenciranih_tema=df[df['is_licensed']==True]['id'].count()
broj_licenciranih_tema

1179

In [25]:
#Izracunavanje procenta
the_force=int(len(df_star_wars['id'])/broj_licenciranih_tema * 100)
the_force

51

In [26]:
#Grupisanje Star Warsa po godini

a=df_star_wars.groupby('year')['id'].count().reset_index()
a

    year  id
0   1999  13
1   2000  26
2   2001  14
3   2002  28
4   2003  32
5   2004  20
6   2005  28
7   2006  11
8   2007  16
9   2008  23
10  2009  39
11  2010  30
12  2011  32
13  2012  43
14  2013  35
15  2014  45
16  2015  58
17  2016  61
18  2017  55

In [27]:
#Odredjivanje najmanje popularne godine
b=a['id'].min()
b
new_era=int(a[a['id']==b]['year'])
new_era

2006